


<div class="card mb-2">
  <div class="card-body">
    <div class="row">
        <div class="col-4">
          <fieldset class="form-group border p-3">
            <legend class=".legend-customerlist">Customer List</legend>
            <div class="list-group form-group">
              <a class="list-group-item list-group-item-action" *ngFor="let c of customers" (click)="loadById(c.ID) "> {{c.CustomerName}} </a>
            </div>
          </fieldset>
        </div>
        <div class="col-8">
          <fieldset class="form-group border p-3">
            <div class="row mb-1">
              <div class="col-12">
                <fieldset class="form-group border p-3">
                  <legend class="w-auto">Actions</legend>
                  <div class="row">
                    <div class="col-12">
                      <button class="btn btn-info mx-lg-1" (click)="editModeOpen()">Edit</button>
                      
                      <button class="btn btn-success mx-lg-1 " (click)="saveCustomer()" >Save</button>
                      
                      <button class="btn btn-danger mx-lg-1 " (click)="deleteCustomer()" >Delete</button>
                     
                      <button class="btn btn-warning mx-lg-1 " (click)="resetForm()">Cancel</button>
                    </div>
                  </div>
                </fieldset>
              </div>
            </div>
            <form [formGroup]="customerForm">
              <div class="row mb-1">
                <div class="col-12">
                  <fieldset class="form-group border p-3">
                    <legend class="w-auto">Basic Informations</legend>
                    <div class="row">
                      <div class="col-12">
                        <div class="form-group mb-1">
                          <div class="row">
                            <label class="control-label col-4">Name <span class="text-danger"> *</span></label>
                            <div class="col-8">
                              <input formControlName="CustomerName" class="form-control form-control-sm" />
                              <span class="text-danger" *ngIf="customerForm.get('CustomerName').errors?.required && formSubmited">Required!</span>
                              <span class="text-danger" *ngIf="customerForm.get('CustomerName').errors?.maxlength">Max length is 50 charecter</span>
                            </div>
                          </div>
                        </div>
                        <div class="form-group mb-1">
                          <div class="row">
                            <label class="control-label col-4">Father Name</label>
                            <div class="col-8">
                              <input formControlName="FatherName" class="form-control form-control-sm" />
                              <span class="text-danger" *ngIf="customerForm.get('FatherName').errors?.maxlength">Max length is 50 charecter</span>
                            </div>
                          </div>
                        </div>
                        <div class="form-group mb-1">
                          <div class="row">
                            <label class="control-label col-4">Mother Name</label>
                            <div class="col-8">
                              <input formControlName="MotherName" class="form-control form-control-sm" />
                              <span class="text-danger" *ngIf="customerForm.get('MotherName').errors?.maxlength">Max length is 50 charecter</span>
                            </div>
                          </div>
                        </div>
                        <div class="form-group mb-1">
                          <div class="row">
                            <label class="control-label col-4">Marital Status</label>
                            <div class="col-8">
                              <div class="row">
                                <div class="col-4">
                                  <input id="single" type="radio" name="MaritalStatus" formControlName="MaritalStatus" value="1" />
                                  <label for="single">SINGLE</label>
                                </div>
                                <div class="col-4">
                                  <input id="married" type="radio" name="MaritalStatus" formControlName="MaritalStatus" value="2" />
                                  <label for="married">MARRIED</label>
                                </div>
                                <div class="col-4">
                                  <input id="other" type="radio" name="MaritalStatus" formControlName="MaritalStatus" value="3" />
                                  <label for="other">OTHER</label>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="form-group mb-1">
                          <div class="row">
                            <label class="control-label col-4">Country <span class="text-danger"> *</span></label>
                            <div class="col-8">
                              <select class="form-control form-control-sm" formControlName="CountryID">
                                <option disabled value="0">Select Country</option>
                                <option *ngFor="let a of countries" value="{{a.ID}}">{{a.CountryName}}</option>
                              </select>
                              <span class="text-danger" *ngIf="(customerForm.get('CountryID').errors?.required ||customerForm.get('CountryID').value== 0)&& formSubmited">Please Select Country.</span>
                            </div>
                          </div>
                        </div>
                        <div class="form-group mb-1">
                    <div class="row">
                      <div class="col-4 pt">
                        <label class="control-label align-middle mt-5  col-4">Photo</label>
                      </div>
                      
                      <div class="col-8">
                        <div class="col-8">
                          <img id="cusromerPhotoViwer" for="file-upload" [src]="customerPhotoUrl!= null ? customerPhotoUrl : avatarImageUrl" alt="Customer Image" />
                        </div>
                        <button onclick="$('#file-upload').click()" class="custom-file-upload mt-1">
                          <i class="fa fa-cloud-upload"></i> Upload Image
                        </button>
                        <span class="text-danger" *ngIf="(!customerImageSelected) && formSubmited">Please Upload Image.</span>
                        <input id="file-upload" formControlName="CustomerPhoto" name='upload_cont_img' type="file" accept="image/*" (change)="onUploadCustomerImage($event);" style="display:none;">
                      </div>

                    </div>
                  </div>
                      </div>
                    </div>
                  </fieldset>
                </div>
              </div>
              <div class="row mb-1">
                <div class="col-12">
                  <fieldset class="form-group border p-3">
                    <legend class="w-auto">Other Informations</legend>
                    <div class="row">
                      <div class="col-12 mb-1">
                        <button class="btn btn-primary btn-flat" *ngIf="pageMode=='edit' || pageMode=='new'" (click)="addCustomerAddresses()">Add</button>
                      </div>
                      <div class="col-12">
                        <table class="table table-bordered table-striped">
                          <thead>
                            <tr>
                              <th>Address</th>
                              <th style="width:200px;"></th>
                            </tr>
                          </thead>
                          <tbody formArrayName="CustomerAddresses">
                            <tr *ngFor="let add of getCustomerAddresses().controls;let i=index">
                              <td [formGroupName]="i">
                                <input type="text" formControlName="Address" class="form-control form-control-sm" />
                                <span class="text-danger" *ngIf="add.get('Address').errors?.required && formSubmited">Please Provide Address</span>
                                <span class="text-danger" *ngIf="add.get('Address').errors?.maxlength">Address Can contain only 500 charecters</span>
                              </td>
                              <td>
                                <button class="btn btn-primary btn-flat" *ngIf="pageMode=='edit' || pageMode=='new'" (click)="enableEditingAddress(i)">Edit</button> &nbsp;
                                <button class="btn btn-danger btn-flat" *ngIf="pageMode=='edit' || pageMode=='new'" (click)="removeCustomerAddresses(i)">Delete</button>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </fieldset>
                </div>
              </div>
            </form>
          </fieldset>
        </div>
      </div>
  </div>

  <app-success-modal [modalHeaderText]="'Success message'" [modalBodyText]="'Action completed successfully'" [okButtonText]="'OK'"  ></app-success-modal>

  <app-error-modal [modalHeaderText]="'Error message'"
                   [modalBodyText]="errorMessage" [okButtonText]="'OK'"></app-error-modal>

</div>


