.text-on-pannel {
  background: #fff none repeat scroll 0 0;
  height: auto;
  margin-left: 20px;
  padding: 3px 5px;
  position: absolute;
  margin-top: -47px;
  border: 1px solid #337ab7;
  border-radius: 8px;
}

.panel {
  /* for text on pannel */
  margin-top: 27px !important;
}

.panel-body {
  padding-top: 30px !important;
}

.legend-customerlist{
    width:auto
}


img {
  max-width: 180px;
}

.custom-file-upload {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
}

legend {
  float: none !important;
}
/*.reset-this {
  all: initial;
}

.redo-fieldset {
  border: 1px solid black;
  padding: 10px;
}

.redo-legend {
  color: black;
} 
*/
